body, html {
  border: 0;
  height: 100%;
  margin: 0;
  padding: 0;
  width: 100%;
}

html {
  --foreground:   #004580;
  --background:   #fff2e2;
  --primary:      #357efc;
  --secondary:    #ffdd0a;
  --sans:         "Franklin Gothic Book", "Source Sans Pro", Helvetica, Arial, sans-serif;
  --serif:        "Lora", Baskerville, Georgia, serif;
  --mono:         "Source Code Pro", Monaco, Courier, monospace;
}

body {
  font-family: var(--serif);
  font-weight: 400;
  background: var(--background);
  color: var(--foreground);
}

.navbar-line {
  display: flex;
  flex-direction: row;
}

.navbar-line:after {
  content: "";
  flex: 1 1;
  border-bottom: 2px solid #000;
  margin: auto;
}

.k-logo {
  filter: brightness(0%);
  max-width: 10%;
  height: auto;
}

.profile-section {
  display: flex;
  flex-direction: row;
}

.profile-element {
  width: 50%;
  flex: 1 1;
  overflow: auto;
}

.profile-pic {
  max-width: 50%;
  height: auto;
  text-align: right;
}
